<!DOCTYPE html>
<html lang="en"

      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My school</title>
    <link rel="stylesheet" href="/css/school.css">
</head>
<body>
<div class="form-container">
    <form id="form" th:action="@{/schools}" th:object="${school}" method="post" enctype="multipart/form-data">
        <h2>Form school</h2>

        <div class="form-group">
            <input type="text" id="name" th:field="*{name}"  name="name" placeholder="Name school" required>
        </div>

        <div class="form-group">
            <input type="file" id="urlLogo" th:field="*{file}" name="urlLogo"  placeholder="url logo school" required>
        </div>

        <div class="form-group">
            <button type="submit">Next</button>
        </div>
    </form>
</div>
</body>
</html>
