
<head  th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de Bord - Mon Etab</title>
    <link rel="stylesheet" th:href="@{/css/allCSS.css}">
    <link  href="https://www.codeur.com/tuto/bootstrap/creer-site-responsive-bootstrap-5/">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>

<div  th:fragment="sidebar(schoolName)">
    <div class="logo">
        <img th:src="${schoolName.urlLogo != null ? schoolName.urlLogo : '@{/icons/school.png}'}"  style="width: 50px;height: 50px;margin-right: 10px" alt="Mon Etab Logo">
        <h2 th:text="${schoolName.name}"></h2>
    </div>
    <ul class="menu">
        <li class="active"><a th:href="@{/home}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-grid-3x2-gap-fill" viewBox="0 0 16 16">
            <path d="M1 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1zM1 9a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1z"/>
        </svg> Dashboard </a></li>
        <li><a  th:href="@{/students}"><img th:src="@{/icons/eleve.png}" style="width: 30px;height: 30px; text-decoration: none" alt=""> Student</a></li>
        <li><a  th:href="@{/teachers}"><img th:src="@{/icons/professeur.png}" style="width: 30px;height: 30px; text-decoration: none" alt=""> Teachers</a></li>
        <li><a  th:href="@{/absences}"><img th:src="@{/icons/user.png}" style="width: 30px;height: 30px; text-decoration: none" alt=""> Absences</a></li>
        <li><a  th:href="@{/studentCards}"><img th:src="@{/icons/carte.png}" style="width: 30px;height: 30px; text-decoration: none" alt=""> StudentCards</a></li>
        <li><a  th:href="@{/appSettings}"><img th:src="@{/icons/user.png}" style="width: 30px;height: 30px; text-decoration: none" alt=""> Settings</a></li>
        <li><a  th:href="@{/schools}"><img th:src="@{/icons/school.png}" style="width: 30px;height: 30px; text-decoration: none" alt=""> Schools</a></li>
        <li><a  th:href="@{/users}"><img th:src="@{/icons/user.png}" style="width: 30px;height: 30px; text-decoration: none" alt=""> Users</a></li>
        <li><a  th:href="@{/reports}"><img th:src="@{/icons/rapport.png}" style="width: 30px;height: 30px; text-decoration: none" alt=""> Report</a></li>
    </ul>

    <form th:action="@{/logout}" method="post">
        <button type="submit" th:src="@{../icons/logout.png}" style="width: 30px;height: 30px" alt=""> Déconnexion</button>
    </form>

</div>

<th:block th:fragment="gender">
    <script src="/javaScript/homePage.js"></script>
</th:block>

<th:block th:fragment="modal">
    <script src="/javaScript/modal.js"></script>
</th:block>
