<!DOCTYPE html>
<html lang="fr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:insert="fragments/fragment::head" ></head>
<body>
<div class="sidebar" th:insert="~{fragments/fragment::sidebar(schoolName=${schoolName})}"></div>

<div class="main-content">
    <main>
        <div class="retour-container">
            <a th:href="@{/teachers}" class="retour">← Retour</a>
        </div>
        <h2 th:text="${teacher.id_person == null}?'Add a teacher':'Edit a teacher'"></h2>
        <form id="addStudentForm" th:action="@{/teachers}" th:object="${teacher}" method="post">
            <input th:field="*{id_person}" hidden type="text">
            <div class="form-row">
                <input type="text" id="lastName" th:field="*{lastName}" placeholder="Nom" required>
                <input type="text" id="firstname" th:field="*{firstName}" placeholder="Prénom" required>
                <input type="tel" th:field="*{phoneNumber}" id="phoneNumber" placeholder="phoneNumber">
            </div>
            <div class="form-row">
            <div class="radio-group">
                <label><input type="radio" th:field="*{available}" name="available" value="true"  required> true</label>
                <label><input type="radio"th:field="*{available}" name="vacaavailablent" value="false" required> false</label>
            </div>
                <input type="text" th:field="*{address.street}" id="street" placeholder="Street">
                <input type="text" th:field="*{specialty}" id="specialty" placeholder="specialty">
            </div>
            <div class="form-row">
                <div class="radio-group">
                    <label><input type="radio" name="MAN" th:field="*{gender}" value="MAN" required> MAN</label>
                    <label><input type="radio" name="WOMAN" th:field="*{gender}" value="WOMAN" required> WOMAN</label>
                    <label><input type="radio" name="OTHER" th:field="*{gender}" value="OTHER" required> OTHER</label>
                </div>
            </div>
            <div class="form-row">
                <input type="date" th:field="*{birthDate}" id="birthDate" placeholder="dd/MM/YYYY" required>
                <input type="text" th:field="*{address.city}" id="city" placeholder="City">
                <input type="text" th:field="*{address.country}" id="country" placeholder="Country">
            </div>
            <div class="form-row buttons">
                <button type="button" class="btn-cancel">Annuler</button>
                <button type="submit" class="btn-save">Enregistrer</button>
            </div>
        </form>
    </main>
</div>

<th:block th:insert="fragments/fragment::gender"></th:block>
<th:block th:insert="fragments/fragment::modal"></th:block>
</body>
</html>