<!DOCTYPE html>
<html lang="fr"

      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:insert="fragments/fragment::head" ></head>
<body>
<div class="sidebar" th:insert="~{fragments/fragment::sidebar(schoolName=${schoolName})}"></div>

<div class="main-content">
    <main>
        <header>
            <h1>Student (<span th:text="${students.size()}"></span>)</h1>
            <form th:action="@{/students/search}" method="get" class="search-form" style="width: 100%; display: flex; align-items: center; gap: 10px;">
                <input class="form-control" th:value="${query}" name="query" type="search" placeholder="RECHERCHE : (NOM , GENRE , MATRICULE)" aria-label="Search">
                <select name="gender"  class="form-control" th:value="${gender}">
                    <option value="MAN" th:if="${gender == 'MAN'} ? 'selected':''">HOMME</option>
                    <option value="WOMAN" th:if="${gender == 'WOMAN'} ? 'selected':''">FEMME</option>
                    <option value="OTHER" th:if="${gender == 'OTHER'} ? 'selected':''">AUTRE</option>
                </select>
                <button type="submit" class="search-button">Search</button>
            </form>

            <a th:href="@{/students/add}">
            <button class="add-student"><img src="../icons/plus.png" style="width: 30px;height: 30px" alt=""> </button>
            </a>
        </header>
        <section class="table-section">
            <table>
                <thead>
                <tr >
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Matricule</th>
                    <th>PhoneNumber</th>
                    <th>PhoneTutor</th>
                    <th>Gender</th>
                    <th>BirthDate</th>
                    <th>Action</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="student:${students}">
                    <td th:text="${student.firstName}"></td>
                    <td th:text="${student.lastName}"></td>
                    <td th:text="${student.matricule}"></td>
                    <td th:text="${student.phoneNumber}"></td>
                    <td th:text="${student.phoneNumberTutor}"></td>
                    <td th:text="${student.gender}"></td>
                    <td th:text="${student.birthDate}"></td>
                    <td>
                        <a th:href="@{/students/{id_person}(id_person=${student.id_person})}">
                            <button class="edit-btn">Modifier</button>
                        </a>
                        <form th:action="@{/students/{id_person}(id_person=${student.id_person})}" method="post" style="display:inline;">
                            <button type="submit" class="delete-btn">Supprimer</button>
                        </form>

                    </td>
                </tr>
                </tbody>
            </table>
        </section>
    </main>

</div>
<div id="confirmationModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>ATTENTION !!!</h2>
        </div>
        <div class="modal-body">
            <p>Voulez-vous supprimer ce professeur ?</p>
        </div>
        <div class="modal-footer">
            <button id="confirmYes" class="modal-btn yes-btn">Oui</button>
            <button id="confirmNo" class="modal-btn no-btn">Non</button>
        </div>
    </div>
</div>

<th:block th:insert="fragments/fragment::gender"></th:block>
<th:block th:insert="fragments/fragment::modal"></th:block>
</body>
</html>